@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Garamond, serif;
  background-color: white;
  color: black;
  line-height: 1.6;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 600;
}
